{
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"trailingComma": "none",
	"printWidth": 100,
	"tabWidth": 2,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@ianvs/prettier-plugin-sort-imports"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindFunctions": ["tv", "tw"],
	"importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "<TYPES>", "", "^[.]"],
	"tailwindStylesheet": "./src/app.css"
}
